.channels{
    display: flex;
    flex-direction: column;
}

.show-channels{
    display: flex;
    color: white;
    font-size: 20px;
}

.hide{
    display: none;
}

.single-channel{
    display: flex;
    justify-content: space-between;
}
.single-channel:hover > .hide, .single-channel:hover > a > .hide{
    display: block;
    cursor: pointer;
}

.single-channel  > a {
    color: rgb(200, 200, 200);
    font-size: 15px;
}

.active{
    color: white;
}
