form > div > input {
  margin: 3px;
  padding: 3px;
  background-color: rgba(91, 91, 91, 0.3);
  border-radius: 5px;
}
form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  margin-top: 2rem;
  font-size: 20px;
  background-color: #c85a00;
  border-radius: 10px;
}
.auth-nav {
  display: flex;
  height: 2.3rem;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(20, 20, 20);
  border: 1px solid rgba(200, 200, 200, 0.5);
}
.auth-nav > * {
  margin: 3px;
}

.auth-container > form {
  display: flex;
  flex-direction: column;
  margin: 3px;
}
.auth-user-pic > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: 2px;
  padding: 3px;
}

.email-div > input {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  padding: 3px;
  background-color: rgba(91, 91, 91, 0.5);
  border-radius: 5px;
}

.password-div > input {
  margin-left: 5px;
  padding: 3px;
  background-color: rgba(91, 91, 91, 0.5);
  border-radius: 5px;
}

.login-button {
  margin-top: 2rem;
  font-size: 20px;
  background-color: #c85a00;
  border-radius: 10px;
}

.errors {
  display: flex;
  flex-direction: column;
}

.initials {
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
}

.user-options {
  position: relative;
  background-color: rgb(30, 30, 30);
  left: 35px;
  top: 33px;
  z-index: 100;
  padding: 5px;
  color: rgb(175, 175, 175);
  border: 1px solid rgb(70, 70, 70);
  border-radius: 5px;
}
