main {
  height: 100%;
  /* width: 140px; */
  background-color: rgba(20, 20, 20, 0.75);
  border: 1px solid rgba(200, 200, 200, 0.5);
  border-radius: 6px;
  padding: 3px 5px;
  display: flex;
}

.main-nav {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding-left: 5px;
}
.workspace-nav {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(200, 200, 200, 0.5);
  width: 55px;
}
.workspace-in-workspace-list {
  color: white;
  margin: 5px;
}
.workspace-in-workspace-list > img {
  height: 40px;
  width: 40px;
  border: 1px solid rgba(200, 200, 200, 0.5);
  /* margin: 5px; */
  color: white;
  border-radius: 5px;
  margin-right: 10px;
  transition: all 1s;
}
.workspace-in-workspace-list > img:hover {
  /* position: sticky; */
  cursor: pointer;
  width: 45px;
  height: 44px;
}
.no-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  /* margin: 5px; */
  border-radius: 5px;
  margin-right: 10px;
  color: black;
  background-color: rgba(225, 120, 0, 0.4);
  font-size: 25px;
  border: 1px solid rgba(200, 200, 200, 0.5);
  transition: all 1s;
}
.no-img:hover {
  /* position: sticky; */
  cursor: pointer;
  width: 45px;
  height: 44px;
}

.workspace-active {
  margin: 2px;
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 2px;
  padding-left: 2px;
  border: 3px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ffffff;
}

.add-workspace:hover > img {
  background-color: rgba(225, 120, 0, 0.5);
}

.workspace-options {
  position: sticky;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: rgb(40, 40, 40);
  padding: 3px;
  margin: 3px 0px 0px 3px;
  box-shadow: 0px 2px 10px rgb(225, 120, 0);
  border-radius: 5px;
  top: 76px;
  left: 125px;
  color: white;
}
.workspace-options > * {
  padding: 3px;
  color: #ffffff;
}
.workspace-options:hover > * {
  cursor: pointer;
}

.current {
  display: flex;
  justify-content: space-between;
  color: white;
}

.current-workspace {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  font-weight: bolder;
  font-size: 22px;
  color: white;
}
.current-workspace:hover {
  cursor: pointer;
}

.channels-container {
  display: flex;
  flex-direction: column;
}

.show-channels {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
}

.show-channels:hover {
  cursor: default;
}

.channel-add:hover {
  cursor: pointer;
}

.seperator {
  background-color: rgba(200, 200, 200, 0.5);
  height: 1px;
  margin-top: 5px;
  margin-bottom: 3px;
}

.minimize-channels {
  color: white;
  font-size: 20px;
}
.minimize-channels:hover {
  cursor: pointer;
}
.split-current-div {
  display: flex;
  justify-content: space-between;
}

.bigger {
  font-size: 30px;
  padding-left: 5px;
}

/* ----------- FORM STYLING ---------- */
.create-workspace-form-container {
  /* display: flex; */
  /* flex-direction: column; */
  width: 40rem;
  /* padding-left: 50%; */
}

.create-workspace-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.workspace-camera {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.create-workspace-form-header {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 2rem;
  font-size: 2.4rem;
}

.create-workspace-input-container {
  color: #c3c4c5;
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  gap: 1rem;
  width: 95%;
}

.create-workspace-photo-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.create-workspace-photo-container.photo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.create-workspace-photo-container.photo > button {
  color: #c3c4c5;
}

.create-workspace-photo-container.photo > button:hover {
  color: #ebebec;
}

.create-workspace-input-container label {
  font-size: 1.2rem;
}

.create-workspace-input-container input {
  color: #c3c4c5;
  background-color: #1b1d1f;
  border-radius: 0.4rem;
  height: 3.6rem;
  padding: 1rem;
}

.signup-form-photo {
  object-fit: cover;
}

.create-workspace-form-buttons {
  align-items: center;
  background-color: #26282b;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  font-size: 1.4rem;
  gap: 2rem;
  justify-content: flex-end;
  margin-top: 2rem;
  padding: 1.2rem 2rem 1.2rem;
  width: 100%;
}

.create-workspace-form-button-submit {
  background-color: rgba(225, 120, 0, 0.4);
  border-radius: 0.5rem;
  color: #ebebec;
  cursor: not-allowed;
  padding: 1rem;
}

.create-workspace-form-button-submit.typed {
  background-color: rgb(225, 120, 0);
  color: white;
  cursor: pointer;
}

.create-workspace-form-button-edit {
  background-color: #7289da;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  padding: 1rem;
}

.create-workspace-form-button.cancel {
  color: white;
  cursor: pointer;
}

.signup-error.show-error-message {
  color: red;
  visibility: visible;
}

.signup-error {
  visibility: hidden;
  font-size: 1rem;
}

.workspace-modal {
  position: absolute;
  background-color: #1b1d1f;
  width: 100px;
  height: 100px;
  color: white;
}

.workspace-form-image {
  height: 30px;
  width: 30px;
}
