.comments-main-container {
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(200, 200, 200, 0.5);
  margin-left: 3px;
  width: 650px;
  justify-content: space-between;
}
.create-comment {
  padding-left: 10px;
  padding-right: 10px;
}

.message-owner-picture {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.starter-message-div {
  display: flex;
  flex-direction: row;
  color: white;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}
.close-replies {
  margin-left: 35px;
}
.close-replies:hover {
  cursor: pointer;
}
.single-comment {
  margin-top: 5px;
}

.name-content--div {
  margin-left: 3px;
}

.message-content {
  padding-top: 8px;
  color: rgba(200, 200, 200, 0.8);
}
.comment-user-photo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.comment-user-initials {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: black;
  color: white;
}
.main-comment-holder {
  display: flex;
  margin-bottom: 10px;
  padding-left: 5px;
}
.comment-name {
  color: white;
}

.comment-content {
  padding-top: 2px;
  color: rgba(200, 200, 200, 0.8);
}
.comment-name-and-content-holder {
  padding-left: 5px;
}
.user-id-name-content {
  display: flex;
}

.more-options {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}

.the-comment {
  display: flex;
  justify-content: space-between;
}
.more {
  padding-right: 10px;
}
.more:hover {
  cursor: pointer;
}

.comment-options > ul {
  list-style: none;
}
.comment-options {
  display: flex;
  flex-direction: column;
  color: white;
  box-shadow: 3px 3px 3px black;
  padding-right: 20px;
  margin: 5px 15px 10px 0px;
  background-color: rgb(30, 30, 30);
}
.comment-options > ul > li:hover {
  cursor: pointer;
}

.the-comment:hover > .hidden {
  visibility: visible;
}

.create-comment {
  background-color: rgba(52, 52, 52, 0.3);
  height: 7rem;
  width: 100%;
  z-index: 2;
  margin-bottom: 50px;
}
.create-comment > form > input {
  background-color: rgba(52, 52, 52, 0.3);
  border: solid 1px white;
  height: 7rem;
  width: 100%;
  z-index: 100;
  color: white;
  padding-left: 10px;
  border-radius: 10px;
}
section > .create-comment > form {
  margin-left: 10px;
  margin-right: 10px;
}

.single-comment {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
  scrollbar-width: thin;
  scrollbar-color: green;
  scroll-snap-align: end;
  height: 43rem;
}
.single-comment > :last-child {
  scroll-snap-align: end;
  overflow-anchor: auto;
}

.comments-upper-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 5px;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
  scrollbar-width: thin;
  scrollbar-color: green;
  scroll-snap-align: end;
}

/* **** SCROLLBAR ************************* SCROLLBAR ********************************* SCROLLBAR ******* */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(30, 30, 30, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
